<h1>edit user details</h1>

<form action="/accounts/update_account" method="POST" id="update_user_details_form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <input type="hidden" name="update_type" value="<%= USER_UPDATE_TYPES[:details] %>" />
    <p>First Name</p>
    <input type="text" name="first_name" value="<%= @user[:result]["first_name"] %>" />
    <p>Last Name</p>
    <input type="text" name="last_name" value="<%= @user[:result]["last_name"] %>" />
    <p>Email</p>
    <input type="text" name="email" value="<%= @user[:result]["email"] %>" />
    <input type="submit" value="Submit" id="update_user_details_button" />
</form>

<h1>edit password</h1>
<form action="accounts/update_account" method="POST" id="update_password_form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <input type="hidden" name="update_type" value="<%= USER_UPDATE_TYPES[:password] %>" />

    <p>old password</p>
    <input type="password" name="old_password" />
    <p>Password</p>
    <input type="password" name="password" />
    <p>Confirm Password</p>
    <input type="password" name="confirm_password" />
    <input type="submit" value="Submit" id="update_password_button" />
</form>

<a href="/accounts/home_page">Go back</a>